<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
    <div class="page">
        {% if (handler.request.path != '/') %}
            <a href="../">Back</a>
        {% end %}
        
        {% if (html) %}
            <div>
                {% raw html %}
            </div>
        {% else %}
            <h1>{{ title }}</h1>
            <div>
                {% if (index) %}
                    <ul>
                        {% for _item in index %}
                            <li><a href="{{ _item }}/">{{ _item }}</a></li>
                        {% end %}
                    </ul>
                {% elif (image) %}
                    <img src="{{ image }}"/>
                {% end %}
                {% for paragraph in text.split('\n\n') %}
                    <p>
                        {% for line in paragraph.split('\n') %}
                            {{ line }} <br/>
                        {% end %}
                    </p>
                {% end %}
            </div>
        {% end %}
    </div>
</body>
</html>