<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic page</title>
    <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
    <div class="page">
        <h1>Dynamic page</h1>
        <div>
            This is the dynamic page.<br/>
            You've loaded it through the {{ handler.address }} address, which is {{ handler.source_type }}
            {% if (handler.address != handler.source_name) %}
                of {{handler.source_name}}
            {% end %}
            <br/>
            You could also visit our <a href="/">index page</a>.
        </div>
    </div>
</body>
</html>